.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 22px;
    
}

.search-input{
   border-color: #98f5e1;
   width: 300px;
   padding: 10px;
   outline: none;
    border-radius: 15px;
    
}
.search-btn{
    
    width: 50px;
    height: 30px;
}